[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "bmp2"]
	path = bmp2
	url = https://github.com/BoschSensortec/BMP2-Sensor-API.git
[submodule "bme68x"]
	path = bme68x
	url = https://github.com/BoschSensortec/BME68x-Sensor-API.git
[submodule "esp8266_nic"]
	path = esp8266_nic
	url = https://github.com/zhiyb/esp8266_nic.git
